* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --blue: #161853;
    --blueTwo: #292C6D;
    --white : #FAEDF0;
    --red : #EC255A;
    /* --blue: #F0E9D2;
    --blueTwo: #E6DDC4;
    --white : #678983;
    --red : #181D31; */
}
body {
    background-color: var(--blue);
}
h1 {
    color : var(--blue);
    
}
img {
    width: 100%;
    height: auto;
}
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header-line {
    background-color: var(--red);
    border: solid var(--red) 1px;
    width: 80%;
    align-self: center;
}
.logo {
    width: 80%;
    margin-bottom: 20px;
    margin: 40px;
}
.container {
    display: flex;
    justify-content: center;
    color: var(--white);
}
.form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.form-item label {
    font-size: 18px;
    margin-bottom: 15px;
}
.form-item input {
    cursor: pointer;
    background-color: var(--white);
    padding: 8px;
    font-size: 16px;
}
.form-item select {
    cursor: pointer;
    background-color: var(--white);
    padding: 8px;
}
.prix {
    display: flex;
}
.form-item input[type=submit] {
    color: var(--white);
    background-color: var(--red);
    font-weight: bold;
}
.prix-min-max {
    display: flex;
    justify-content: space-between;
}
.prix-min-max input {
    width: 35%;
}
.form-item-checkbox {
    display: flex;
}
.form-item-checkbox input {
    margin-top: 20px;
    margin-right: 40px;
    background-color: var(--white);
    font-size: 16px;
}
.form-item-checkbox label {
    margin-top: 20px;
    margin-right: 40px;
    font-size: 18px;
}
.btn {
    border: none;
}
main {
    padding-bottom: 40px;
}
.line {
    border-top: 2px solid var(--red);
    width: 80%;
    align-self: center;
}
@media only screen and (min-width: 601px) {
    body {
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header {
        align-items: center;
        display: flex;
        flex-direction: row;
    }
    main {
        margin-top: 2.5%;
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: var(--blue);
        box-shadow: 10px 5px 5px var(--blueTwo);
    }
    .logo {
        width: 40%;
    }
    .line {
        /* border-top: none;
        border-right: 3px solid var(--red);
        height: 70%; */
        display: none;
    }
    .container {
        margin-top: 2.5%;
    }
}
